<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>เติมพอยท์</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body onload="loading()">

<div id="buypackagepage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}" @click="window.location = '{% url 'index' %}'"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'index' %}'">
        <mu-list-item-title>หน้าแรก</mu-list-item-title>
        <mu-icon right value="home"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'profile' %}'">
        <mu-list-item-title>ข้อมูลผู้ใช้งาน</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'buy_package' %}'">
        <mu-list-item-title>เติมพอยท์</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button @click="window.location = '{% url 'change_password' %}'">
        <mu-list-item-title >เปลี่ยนรหัสผ่าน</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'logout' %}'">
        <mu-list-item-title style="color: #f44336;">ออกจากระบบ</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#  loading#}
  <div id="modal" style="position: fixed; bottom: 0;top: 0;left: 0;right: 0;z-index: 2000;background-color: #fafafa">
    <div style="text-align: center;margin-top: 22em;">
      <mu-fade-transition>
        <mu-circular-progress v-show="loadingwait" class="demo-circular-progress" :size="64" :stroke-width="5" color="amber500"></mu-circular-progress>
      </mu-fade-transition>
    </div>
  </div>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    <mu-row>
      <mu-col span="12">
        <mu-card>
            <mu-list>
              <mu-list-item>
                <mu-list-item-action avatar>
                  <mu-avatar slot="avatar" color="amber500">
                    <mu-icon value="local_atm"></mu-icon>
                  </mu-avatar>
                </mu-list-item-action>
                <mu-list-item-content>
                  <mu-list-item-title>พอยท์ของท่าน</mu-list-item-title>
                </mu-list-item-content>
              </mu-list-item>
            </mu-list>
          <mu-container class="demo-container is-stripe">
            <mu-row>
              <mu-col span="12"><div style="font-size: 58px;padding-left: 8px; margin-top: -16px;">[[ userPoints ]] พอยท์</div></mu-col>
            </mu-row>
          </mu-container>
        </mu-card>
      </mu-col>
    </mu-row>
  </mu-container>


  <mu-container fluid="true" style="padding-top: 1em;">
    <mu-row style="padding-bottom: 5px;">
      <mu-col>
          <mu-flex justify-content="start">
    <mu-flex justify-content="center" >กรุณาเลือกวิธีการเติมพอยท์</mu-flex>
  </mu-flex>
      </mu-col>
    </mu-row>
    <mu-row>
      <mu-col span="12">
        <form method="post" action="{% url 'buy_package' %}">
    {% csrf_token %}
        <mu-expansion-panel>
          <div slot="header">
            <mu-flex align-items="center">
              <mu-flex justify-content="center" fill><mu-avatar size="30" color="pink300"><mu-icon value="credit_card"></mu-icon></mu-avatar></mu-flex>
              <mu-flex style="padding-left: 1em;" justify-content="center" fill>เครดิต/เดบิต การ์ด</mu-flex>
            </mu-flex>
          </div>
          <div>
            <mu-container>
              <mu-row>
                <mu-col span="12">
                  <mu-select label="กรุณาเลือกธนาคาร" v-model="selectedBank" full-width color="pink500">
                    <mu-option avatar label="ไทยพาณิชย์" value="SCB">
                      <mu-list-item-action avatar>
                        <mu-avatar size="36"><img src="{% static 'images/scb.png' %}" /></mu-avatar>
                      </mu-list-item-action>
                      <mu-list-item-content>
                        <mu-list-item-title>ไทยพาณิชย์</mu-list-item-title>
                      </mu-list-item-content>
                    </mu-option>
                    <mu-option avatar label="กสิกรไทย" value="KBANK">
                      <mu-list-item-action avatar>
                        <mu-avatar size="36"><img src="{% static 'images/kbank.png' %}" /></mu-avatar>
                      </mu-list-item-action>
                      <mu-list-item-content>
                        <mu-list-item-title>กสิกรไทย</mu-list-item-title>
                      </mu-list-item-content>
                    </mu-option>
                  </mu-select>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <mu-text-field v-model="cdCardnum" label="หมายเลขบัตรเครดิต/เดบิต" label-float full-width color="pink500"></mu-text-field>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <p style="padding-left: 32px;">กรุณาเลือกจำนวนพอยท์ที่ต้องการ</p>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <mu-flex>
                    <mu-radio name="point" value="100" v-model="packagePrice" label="100 พอยท์ (50 บาท)" color="pink500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio name="point" value="220" v-model="packagePrice" label="220 พอยท์ (100 บาท)" color="pink500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio name="point" value="350" v-model="packagePrice" label="350 พอยท์ (150 บาท)" color="pink500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio name="point" value="480" v-model="packagePrice" label="480 พอยท์ (200 บาท)" color="pink500"></mu-radio>
                  </mu-flex><br>
                </mu-col>
              </mu-row>
            </mu-container>
          </div>
          <mu-button slot="action" flat color="grey400" @click="window.location = '{% url 'buy_package' %}'">ยกเลิก</mu-button>
          <mu-button type="submit" slot="action" flat color="pink500">ยืนยัน</mu-button>
        </mu-expansion-panel>
        </form>
        <form method="post" action="{% url 'buy_package' %}">
    {% csrf_token %}
        <mu-expansion-panel>
          <div slot="header">
            <mu-flex align-items="center">
              <mu-flex justify-content="center" fill><mu-avatar size="30" color="blue300"><mu-icon value="redeem"></mu-icon></mu-avatar></mu-flex>
              <mu-flex style="padding-left: 1em;" justify-content="center" fill>บัตรเติมเงิน</mu-flex>
            </mu-flex>
          </div>
          <div>
            <mu-container>
              <mu-row>
                <mu-col span="12">
                  <mu-text-field v-model="topupCard" label="หมายเลขบัตรเติมเงิน" label-float full-width color="blue500"></mu-text-field>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <p style="padding-left: 32px;">กรุณาเลือกจำนวนพอยท์ที่ต้องการ</p>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <mu-flex>
                    <mu-radio name="point" value="100" v-model="packagePrice" label="100 พอยท์ (50 บาท)" color="blue500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio name="point" value="220" v-model="packagePrice" label="220 พอยท์ (100 บาท)" color="blue500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio name="point" value="350" v-model="packagePrice" label="350 พอยท์ (150 บาท)" color="blue500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio name="point" value="480" v-model="packagePrice" label="480 พอยท์ (200 บาท)" color="blue500"></mu-radio>
                  </mu-flex><br>
                </mu-col>
              </mu-row>
            </mu-container>
          </div>
          <mu-button slot="action" flat color="grey400" @click="window.location = '{% url 'buy_package' %}'">ยกเลิก</mu-button>
          <mu-button type="submit" slot="action" flat color="blue500">ยืนยัน</mu-button>
        </mu-expansion-panel>
        </form>
      </mu-col>
    </mu-row>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;position: absolute; bottom: 0">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
<script type='text/javascript'>
    var user_info = {{user_in|safe}};
  </script>
<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#buypackagepage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            userPoints: user_info[0].point,
            selectedBank: '',
            cdCardnum: '',
            packagePrice: '',
            topupCard: '',
            loadingwait: true,
        })
    }
  })
</script>

<script>
    function loading() {
        setTimeout(function () {
            {#document.getElementById('modal').style.display='none';#}
            app.loadingwait = false;
            setTimeout(function () {
              document.getElementById('modal').style.display='none';
            }, 500);
        }, 1000);
    }
</script>

</body>
</html>