<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy Package</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="buypackagepage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer v-if="isLogin" :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button>
        <mu-list-item-title>Profile</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title>Buy Package</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button>
        <mu-list-item-title >Change Password</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title style="color: #f44336;">Logout</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>
  <mu-drawer v-else :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button>
        <mu-list-item-title>Login</mu-list-item-title>
        <mu-icon right value="person"></mu-icon>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title>Register</mu-list-item-title>
        <mu-icon right value="person_add"></mu-icon>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    <mu-row>
      <mu-col span="12">
        <mu-card>
            <mu-list>
              <mu-list-item>
                <mu-list-item-action avatar>
                  <mu-avatar slot="avatar" color="amber500">
                    <mu-icon value="local_atm"></mu-icon>
                  </mu-avatar>
                </mu-list-item-action>
                <mu-list-item-content>
                  <mu-list-item-title>Your Points</mu-list-item-title>
                </mu-list-item-content>
              </mu-list-item>
            </mu-list>
          <mu-container class="demo-container is-stripe">
            <mu-row>
              <mu-col span="12"><div style="font-size: 58px;padding-left: 8px; margin-top: -16px;">[[ userPoints ]] Points</div></mu-col>
            </mu-row>
          </mu-container>
        </mu-card>
      </mu-col>
    </mu-row>
  </mu-container>

  <mu-container fluid="true" style="padding-top: 1em;">
    <mu-row style="padding-bottom: 5px;">
      <mu-col>
          <mu-flex justify-content="start">
    <mu-flex justify-content="center" >Select Payment Methods</mu-flex>
  </mu-flex>
      </mu-col>
    </mu-row>
    <mu-row>
      <mu-col span="12">
        <mu-expansion-panel>
          <div slot="header">
            <mu-flex align-items="center">
              <mu-flex justify-content="center" fill><mu-avatar size="30" color="pink300"><mu-icon value="credit_card"></mu-icon></mu-avatar></mu-flex>
              <mu-flex style="padding-left: 1em;" justify-content="center" fill>Credit / Debit card</mu-flex>
            </mu-flex>
          </div>
          <div>
            <mu-container>
              <mu-row>
                <mu-col span="12">
                  <mu-select label="กรุณาเลือกธนาคาร" v-model="selectedBank" full-width color="pink500">
                    <mu-option avatar label="Siam Commercial Bank" value="SCB">
                      <mu-list-item-action avatar>
                        <mu-avatar size="36"><img src="{% static 'images/scb.png' %}" /></mu-avatar>
                      </mu-list-item-action>
                      <mu-list-item-content>
                        <mu-list-item-title>Siam Commercial Bank</mu-list-item-title>
                      </mu-list-item-content>
                    </mu-option>
                    <mu-option avatar label="Kasikorn Bank" value="KBANK">
                      <mu-list-item-action avatar>
                        <mu-avatar size="36"><img src="{% static 'images/kbank.png' %}" /></mu-avatar>
                      </mu-list-item-action>
                      <mu-list-item-content>
                        <mu-list-item-title>Kasikorn Bank</mu-list-item-title>
                      </mu-list-item-content>
                    </mu-option>
                  </mu-select>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <mu-text-field v-model="cdCardnum" label="หมายเลขบัตรเครดิต/เดบิต" label-float full-width color="pink500"></mu-text-field>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <p style="padding-left: 32px;">กรุณาเลือก Package</p>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <mu-flex>
                    <mu-radio value="100" v-model="packagePrice" label="100 Points (50 THB)" color="pink500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio value="220" v-model="packagePrice" label="220 Points (100 THB)" color="pink500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio value="350" v-model="packagePrice" label="350 Points (150 THB)" color="pink500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio value="480" v-model="packagePrice" label="480 Points (200 THB)" color="pink500"></mu-radio>
                  </mu-flex><br>
                </mu-col>
              </mu-row>
            </mu-container>
          </div>
          <mu-button slot="action" flat>Cancel</mu-button>
          <mu-button slot="action" flat color="pink500">Save</mu-button>
        </mu-expansion-panel>
        <mu-expansion-panel>
          <div slot="header">
            <mu-flex align-items="center">
              <mu-flex justify-content="center" fill><mu-avatar size="30" color="blue300"><mu-icon value="redeem"></mu-icon></mu-avatar></mu-flex>
              <mu-flex style="padding-left: 1em;" justify-content="center" fill>Top-up Card</mu-flex>
            </mu-flex>
          </div>
          <div>
            <mu-container>
              <mu-row>
                <mu-col span="12">
                  <mu-text-field v-model="topupCard" label="หมายเลขบัตรเติมเงิน" label-float full-width color="blue500"></mu-text-field>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <p style="padding-left: 32px;">กรุณาเลือก Package</p>
                </mu-col>
              </mu-row>
              <mu-row>
                <mu-col span="12">
                  <mu-flex>
                    <mu-radio value="100" v-model="packagePrice" label="100 Points (50 THB)" color="blue500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio value="220" v-model="packagePrice" label="220 Points (100 THB)" color="blue500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio value="350" v-model="packagePrice" label="350 Points (150 THB)" color="blue500"></mu-radio>
                  </mu-flex><br>
                  <mu-flex>
                    <mu-radio value="480" v-model="packagePrice" label="480 Points (200 THB)" color="blue500"></mu-radio>
                  </mu-flex><br>
                </mu-col>
              </mu-row>
            </mu-container>
          </div>
          <mu-button slot="action" flat>Cancel</mu-button>
          <mu-button slot="action" flat color="blue500">Save</mu-button>
        </mu-expansion-panel>
      </mu-col>
    </mu-row>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;position: absolute; bottom: 0">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#buypackagepage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            isLogin: true,
            userPoints: 400,
            selectedBank: '',
            cdCardnum: '',
            packagePrice: '',
            topupCard: ''
        })
    }
  })
</script>

</body>
</html>