<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>เปลี่ยนรหัสผ่าน</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="changepasswordpage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}" @click="window.location = '{% url 'index' %}'"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'index' %}'">
        <mu-list-item-title>หน้าแรก</mu-list-item-title>
        <mu-icon right value="home"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'profile' %}'">
        <mu-list-item-title>ข้อมูลผู้ใช้งาน</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'buy_package' %}'">
        <mu-list-item-title>เติมพอยท์</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button @click="window.location = '{% url 'change_password' %}'">
        <mu-list-item-title >เปลี่ยนรหัสผ่าน</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'logout' %}'">
        <mu-list-item-title style="color: #f44336;">ออกจากระบบ</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    <mu-row style="padding-top: 1em;">
      <mu-col span="12">
        <form method="post" action="{% url 'change_password' %}">
          {% csrf_token %}
          <mu-flex justify-content="center">
            <mu-flex justify-content="center" ><mu-icon value="lock"></mu-icon>เปลี่ยนรหัสผ่าน</mu-flex>
          </mu-flex>

          {% if form.oldpassword.errors %}
          <mu-text-field
            label-float
            v-model.lazy="oldpassword"
            name="{{form.oldpassword.label}}"
            color="amber600"
            type="password"
            error-text="รหัสผ่านเก่าไม่ถูกต้อง"
            full-width label="รหัสผ่านเก่า">
          </mu-text-field>
          {% endif %}
          {% if not form.oldpassword.errors %}
          <mu-text-field
            label-float
            v-model.lazy="oldpassword"
            name="{{form.oldpassword.label}}"
            color="amber600"
            type="password"
            full-width label="รหัสผ่านเก่า">
          </mu-text-field>
          {% endif %}

          {% if form.newpassword1.errors %}
          <mu-text-field
            label-float
            v-model.lazy="newpassword1"
            name="{{form.newpassword1.label}}"
            color="amber600"
            type="password"
            error-text="รหัสผ่านใหม่ไม่ถูกต้อง"
            full-width label="รหัสผ่านใหม่">
          </mu-text-field>
          {% endif %}
          {% if not form.newpassword1.errors %}
          <mu-text-field
            label-float
            v-model.lazy="newpassword1"
            name="{{form.newpassword1.label}}"
            color="amber600"
            type="password"
            full-width label="รหัสผ่านใหม่">
          </mu-text-field>
          {% endif %}

          {% if form.newpassword2.errors %}
          <mu-text-field
            label-float
            v-model.lazy="newpassword2"
            name="{{form.newpassword2.label}}"
            color="amber600"
            :action-icon="passVisibility ? 'visibility_off' : 'visibility'"
            :action-click="() => (passVisibility = !passVisibility)"
            :type="passVisibility ? 'text' : 'password'"
            error-text="กรุณาใส่รหัสผ่านใหม่ให้ตรงกัน"
            full-width label="ยืนยันรหัสผ่านใหม่">
          </mu-text-field><br/>
          {% endif %}
          {% if not form.newpassword2.errors %}
          <mu-text-field
            label-float
            v-model.lazy="newpassword2"
            name="{{form.newpassword2.label}}"
            color="amber600"
            :action-icon="passVisibility ? 'visibility_off' : 'visibility'"
            :action-click="() => (passVisibility = !passVisibility)"
            :type="passVisibility ? 'text' : 'password'"
            full-width label="ยืนยันรหัสผ่านใหม่">
          </mu-text-field><br/>
          {% endif %}

          <mu-flex justify-content="center">
            <mu-flex justify-content="center" style="padding-top: 1em;" >
              <mu-button type="submit" large color="amber500">ยืนยัน<mu-icon right value="chevron_right"></mu-icon></mu-button>
            </mu-flex>
          </mu-flex>
        </form>
      </mu-col>
    </mu-row>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;position: absolute;bottom: 0;">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#changepasswordpage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            oldpassword: '',
            newpassword1: '',
            newpassword2: '',
            passVisibility: false,
        })
    }
  })
</script>

</body>
</html>