<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="editprofilepage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}" @click="window.location = '{% url 'index' %}'"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'profile' %}'">
        <mu-list-item-title>Profile</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'buy_package' %}'">
        <mu-list-item-title>Buy Package</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button @click="window.location = '{% url 'change_password' %}'">
        <mu-list-item-title >Change Password</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'logout' %}'">
        <mu-list-item-title style="color: #f44336;">Logout</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    <mu-row style="padding-top: 1em;">
      <mu-col span="12">
        <form method="post" action="{% url 'edit_profile' %}">
          {% csrf_token %}
          <mu-flex justify-content="center">
            <mu-flex justify-content="center" ><mu-icon value="person"></mu-icon>แก้ไขข้อมูลผู้ใช้</mu-flex>
          </mu-flex>
          <mu-text-field
            label-float
            name="{{form.firstname.label}}"
            v-model="firstname"
            color="amber600"
            full-width label="ชื่อจริง">
          </mu-text-field><br/>
          <mu-text-field
            label-float
            name="{{form.lastname.label}}"
            v-model="lastname"
            color="amber600"
            full-width label="นามสกุล">
          </mu-text-field><br/>
          <mu-text-field
            label-float
            :value="{{form.username.label}}"
            v-model="username"
            name="username"
            color="amber600"
            full-width label="ชื่อผู้ใช้">
          </mu-text-field><br/>
          {{form.email.errors}}
          <mu-text-field
            label-float
            name="{{form.email.label}}"
            v-model="email"
            color="amber600"
            full-width label="Email"
            suffix="@kmitl.ac.th">
          </mu-text-field><br/>
          {{form.phone.errors}}
          <mu-text-field
            label-float
            name="{{form.phone.label}}"
            v-model="phone"
            color="amber600"
            full-width label="เบอร์โทรศัพท์"
            type="number">
          </mu-text-field><br/>
          <mu-flex justify-content="center">
            <mu-flex justify-content="center" style="padding-top: 1em;" >
              <mu-button type="submit" large color="amber500">CONFIRM<mu-icon right value="chevron_right"></mu-icon></mu-button>
            </mu-flex>
          </mu-flex>
        </form>
      </mu-col>
    </mu-row>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;position: absolute;bottom: 0;">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex ustify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
<script type='text/javascript'>
    var user_i = [{ 'first_name':'{{user_u.0.first_name}}','last_name':'{{user_u.0.last_name}}','username':'{{user_u.0.username}}','email':'{{user_u.0.email}}' }];
    var user_info = {{user_in|safe}};
  </script>
<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#editprofilepage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            firstname: user_i[0].first_name,
            lastname: user_i[0].last_name,
            username: user_i[0].username,
            phone: user_info[0].phone_number,
            email: user_i[0].email
        })
    }
  })
</script>

</body>
</html>