<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarparkingMS</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="indexpage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer v-if="isLogin" :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button>
        <mu-list-item-title>Profile</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title>Buy Package</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button>
        <mu-list-item-title >Change Password</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title style="color: #f44336;">Logout</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>
  <mu-drawer v-else :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button>
        <mu-list-item-title>Login</mu-list-item-title>
        <mu-icon right value="person"></mu-icon>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title>Register</mu-list-item-title>
        <mu-icon right value="person_add"></mu-icon>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    {#        Parking slotinformation are#}
    <mu-row>
      <mu-col span="12">
        <mu-card style="width: 100%; margin: 0 auto;">
          <mu-card-header :title="place" sub-title="ข้อมูลที่จอดรถ">
            <mu-avatar slot="avatar" color="amber500">
              <mu-icon left value="directions_car"></mu-icon>
            </mu-avatar>
          </mu-card-header>

          <mu-divider></mu-divider>

          <mu-list>
            <mu-sub-header style="font-size: 18px;">Available</mu-sub-header>
            <mu-list-item avatar>
              <mu-list-item-action avatar>
                <mu-avatar color="green500">
                  <mu-icon value="local_parking"></mu-icon>
                </mu-avatar>
              </mu-list-item-action>
              <mu-list-item-content>
                <mu-list-item-title style="font-size: 25px;">[[ availableLots ]]</mu-list-item-title>
              </mu-list-item-content>
            </mu-list-item>

            <mu-sub-header style="font-size: 18px;">Unavailable</mu-sub-header>
            <mu-list-item avatar>
              <mu-list-item-action avatar>
                <mu-avatar color="red500">
                  <mu-icon value="local_parking"></mu-icon>
                </mu-avatar>
              </mu-list-item-action>
              <mu-list-item-content>
                <mu-list-item-title style="font-size: 25px;">[[ unavailableLots ]]</mu-list-item-title>
              </mu-list-item-content>
            </mu-list-item>
          </mu-list>

        </mu-card>
      </mu-col>
    </mu-row>
{#    reserve button area#}
    <mu-row v-if="isLogin" style="padding-top: 1em;">
      <mu-col span="12">
        <mu-flex justify-content="center" align-items="center">
          <mu-button full-width color="amber500" large @click="openCarSelector">Reserve (50 Points)<mu-icon right value="schedule"></mu-icon></mu-button>
        </mu-flex>
      </mu-col>
    </mu-row>

    <mu-row v-else style="padding-top: 1em;">
      <mu-col span="12">
        <mu-flex justify-content="center" align-items="center">
          <mu-tooltip content="กรุณาเข้าสู่ระบบ">
            <mu-button full-width color="success" large disabled>Reserve (50 Points)<mu-icon right value="schedule"></mu-icon></mu-button>
          </mu-tooltip>
        </mu-flex>
      </mu-col>
    </mu-row>

{#    Car Selector Area#}
    <mu-bottom-sheet :open.sync="isCarSelectorOpen">
    <mu-list @item-click="closeCarSelector">
      <mu-sub-header>กรุณาเลือกรถของท่าน</mu-sub-header>
      <div v-for="car in userCar">
      <mu-list-item button @click="openConfirmDialog(car)">
        <mu-list-item-action>
          <mu-icon value="directions_car" color="amber500"></mu-icon>
        </mu-list-item-action>
        <mu-list-item-title>[[ car.carid ]] | [[ car.carbrand ]]</mu-list-item-title>
      </mu-list-item>
      </div>
    </mu-list>
  </mu-bottom-sheet>

{#    alert dialog befor reserve area#}
  <mu-dialog title="ยืนยันการจองที่จอดรถ?" width="600" max-width="80%" :esc-press-close="false" :overlay-close="false" :open.sync="openConfirm">
    ทำการจองด้วย [[ selectedCar.carid ]] | [[ selectedCar.carbrand ]] เมื่อท่านทำการจองแล้วระบบจะหักPointsของท่านทันทีและไม่สามารถขอคืนPointsได้ ท่านต้องมาถึงจุดแสกนQR Codeภายในเวลา 15 นาที
    <mu-button slot="actions" flat color="grey400" @click="closeConfirmDialog">ยกเลิก</mu-button>
    <mu-button slot="actions" flat color="amber500" @click="closeConfirmDialog">จอง</mu-button>
  </mu-dialog>

    <mu-row style="padding-top: 1em;">
      <mu-col span="12">
        <mu-card>
          <mu-card-header title="QR Code" sub-title="กรุณาแสกนQR Codeทุกครั้ง">
            <mu-avatar slot="avatar" color="amber500">
              <mu-icon left value="fullscreen"></mu-icon>
            </mu-avatar>
          </mu-card-header>
          <mu-flex justify-content="center">
            <mu-paper :z-depth="3">
              <mu-card-media>
                <img src="{% static 'images/mockup-qrcode.png' %}">
              </mu-card-media>
            </mu-paper>
          </mu-flex>
          <mu-card-title :title="'Expired Time: '+expiredTime" sub-title="กรุณาแสกนQR Codeก่อนหมดเวลาในการจอง"></mu-card-title>
        </mu-card>
      </mu-col>
    </mu-row><br/>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#indexpage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            isLogin: true,
            isCarSelectorOpen: false,
            openConfirm: false,
            place: 'คณะเทคโนโลยีสารสนเทศ',
            availableLots: 12,
            unavailableLots: 30,
            expiredTime: '20/08/19 10:07:34',
            userCar: [
                {carid: 'บฉ 7476', carbrand: 'Lamborghini', carmodel: 'Centenarion', 'carcolor': 'ส้ม'},
                {carid: '1กค 3416', carbrand: 'BMW', carmodel: 'i8', 'carcolor': 'ขาว'}
            ],
            selectedCar: {},
            userPoints: 300,
        })
    },
    methods: {
      closeCarSelector () {
        this.isCarSelectorOpen = false;
      },
      openCarSelector () {
        this.isCarSelectorOpen = true;
      },
      openConfirmDialog (carObj) {
          this.selectedCar = carObj
        this.openConfirm = true;
      },
      closeConfirmDialog () {
          this.selectedCar = {}
        this.openConfirm = false;
      }
    }
  })
</script>

</body>
</html>