<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ระบบจัดการที่จอดรถ | CMS</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body onload="loading()">
<div id="indexpage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}" @click="window.location = '{% url 'index' %}'"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  {% if user.is_authenticated %}
  <mu-drawer v-if="isLogin" :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'index' %}'">
        <mu-list-item-title>หน้าแรก</mu-list-item-title>
        <mu-icon right value="home"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'profile' %}'">
        <mu-list-item-title>ข้อมูลผู้ใช้งาน</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'buy_package' %}'">
        <mu-list-item-title>เติมพอยท์</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button @click="window.location = '{% url 'change_password' %}'">
        <mu-list-item-title >เปลี่ยนรหัสผ่าน</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button @click="logout">
        <mu-list-item-title style="color: #f44336;">ออกจากระบบ</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>
  {%endif%}
  {% if not user.is_authenticated %}
  <mu-drawer :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'index' %}'">
        <mu-list-item-title>หน้าแรก</mu-list-item-title>
        <mu-icon right value="home"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'my_login' %}'">
        <mu-list-item-title>เข้าสู่ระบบ</mu-list-item-title>
        <mu-icon right value="person"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'register' %}'">
        <mu-list-item-title>สมัครสมาชิก</mu-list-item-title>
        <mu-icon right value="person_add"></mu-icon>
      </mu-list-item>
    </mu-list>
  </mu-drawer>
  {%endif%}

{#  loading#}
  <div id="modal" style="position: fixed; bottom: 0;top: 0;left: 0;right: 0;z-index: 2000;background-color: #fafafa">
    <div style="text-align: center;margin-top: 22em;">
      <mu-fade-transition>
        <mu-circular-progress v-show="loadingwait" class="demo-circular-progress" :size="64" :stroke-width="5" color="amber500"></mu-circular-progress>
      </mu-fade-transition>
    </div>
  </div>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    {#        Parking slotinformation are#}
    <mu-row>
      <mu-col span="12">
        <mu-card style="width: 100%; margin: 0 auto;">
          <mu-card-header :title="place" sub-title="ข้อมูลที่จอดรถ">
            <mu-avatar slot="avatar" color="amber500">
              <mu-icon left value="directions_car"></mu-icon>
            </mu-avatar>
          </mu-card-header>

          <mu-divider></mu-divider>

          <mu-list>
            <mu-sub-header style="font-size: 18px;">ว่าง</mu-sub-header>
            <mu-list-item avatar>
              <mu-list-item-action avatar>
                <mu-avatar color="green500">
                  <mu-icon value="local_parking"></mu-icon>
                </mu-avatar>
              </mu-list-item-action>
              <mu-list-item-content>
                <mu-list-item-title style="font-size: 25px;">[[ availableLots ]]</mu-list-item-title>
              </mu-list-item-content>
            </mu-list-item>

            <mu-sub-header style="font-size: 18px;">ไม่ว่าง</mu-sub-header>
            <mu-list-item avatar>
              <mu-list-item-action avatar>
                <mu-avatar color="red500">
                  <mu-icon value="local_parking"></mu-icon>
                </mu-avatar>
              </mu-list-item-action>
              <mu-list-item-content>
                <mu-list-item-title style="font-size: 25px;">[[ unavailableLots ]]</mu-list-item-title>
              </mu-list-item-content>
            </mu-list-item>
          </mu-list>

        </mu-card>
      </mu-col>
    </mu-row>

    {% if user.is_authenticated %}
{#    reserve button area#}
    <mu-row v-if="!isReserve" style="padding-top: 1em;">
      <mu-col span="12">
        <mu-flex justify-content="center" align-items="center">
          <mu-button full-width color="amber500" large @click="openCarSelector">จองที่จอดรถ <mu-icon right value="schedule"></mu-icon></mu-button>
        </mu-flex>
      </mu-col>
    </mu-row>
    <mu-row v-else style="padding-top: 1em;">
      <mu-col span="12">
        <mu-flex justify-content="center" align-items="center">
          <mu-button full-width color="success" large disabled>จองที่จอดรถ <mu-icon right value="schedule"></mu-icon></mu-button>
        </mu-flex>
      </mu-col>
    </mu-row>
  {% endif %}
  {% if not user.is_authenticated %}
    <mu-row style="padding-top: 1em;">
      <mu-col span="12">
        <mu-flex justify-content="center" align-items="center">
          <mu-button full-width color="success" large disabled>จองที่จอดรถ <mu-icon right value="schedule"></mu-icon></mu-button>
        </mu-flex>
      </mu-col>
    </mu-row>


    {% endif %}
{#    Car Selector Area#}
    <mu-bottom-sheet :open.sync="isCarSelectorOpen">
    <mu-list @item-click="closeCarSelector">
      <mu-sub-header>กรุณาเลือกรถของท่าน</mu-sub-header>
      <div v-for="car in userCar">
      <mu-list-item button @click="openLimitTimeDialog(car)">
        <mu-list-item-action>
          <mu-icon value="directions_car" color="amber500"></mu-icon>
        </mu-list-item-action>
        <mu-list-item-title>[[ car.car_license_number ]] | [[ car.car_brand ]]</mu-list-item-title>
      </mu-list-item>
      </div>
    </mu-list>
  </mu-bottom-sheet>

{#    alert select Time Area#}
  <mu-dialog
    title="กรุณาเลือกระยะเวลาในการจอง"
    width="600"
    max-width="80%"
    scrollable
    :open.sync="openLimitTime"
  >
    <mu-list>
      <mu-list-item :key="option.min" v-for="option in options">
        <mu-list-item-content>
          <mu-radio color="amber500" :label="option.min + ' นาที ( ' + option.point + ' พอยท์ )'" :value="option" v-model="reserveLimitTime"></mu-radio>
        </mu-list-item-content>
      </mu-list-item>
    </mu-list>
    <mu-button slot="actions" flat color="amber500" @click="openConfirmDialog()">ตกลง</mu-button>
  </mu-dialog>
{#    alert dialog befor reserve area#}
  <mu-dialog
    title="ยืนยันการจองที่จอดรถ?"
    width="600"
    max-width="80%"
    :esc-press-close="false"
    :overlay-close="false"
    :open.sync="openConfirm">
    ทำการจองด้วย <b>[[ selectedCar.car_license_number ]] | [[ selectedCar.car_brand ]]</b>
    เมื่อท่านทำการจองแล้วระบบจะหักพอยท์ของท่านทันทีและไม่สามารถขอคืนพอยท์ได้
    ท่านต้องมาถึงจุดแสกนQR Codeภายในเวลา <b>[[ reserveLimitTime.min ]]</b> นาที
    <mu-button slot="actions" flat color="grey400" @click="closeConfirmDialog">ยกเลิก</mu-button>
    <mu-button slot="actions" flat color="amber500" @click="CountdownReserve">ยืนยัน</mu-button>
  </mu-dialog>

{#  err dialo#}

    <mu-dialog
    title="แต้มของท่านไม่เพียงพอ"
    width="600"
    max-width="80%"
    :esc-press-close="false"
    :overlay-close="false"
    :open.sync="openError">
    กรุณาเติมพอยท์ก่อนทำการจอง
    <mu-button slot="actions" flat color="amber500" @click="openError = false">ตกลง</mu-button>
  </mu-dialog>

    <mu-row style="padding-top: 1em;" v-if="isReserve">
      <mu-col span="12">
        <mu-card>
          <mu-card-header title="QR Code" sub-title="กรุณาแสกนQR Code|บันทึกภาพQR codeไว้">
            <mu-avatar slot="avatar" color="amber500">
              <mu-icon left value="fullscreen"></mu-icon>
            </mu-avatar>
          </mu-card-header>
          <mu-flex justify-content="center">
            <mu-paper :z-depth="3">
              <mu-card-media>
                <div id="qrcode"></div>
              </mu-card-media>
              <mu-flex justify-content="center">
                <mu-flex justify-content="center">
                  <h2>จอดที่ช่อง [[slot_id]]</h2>
                </mu-flex>
              </mu-flex>
            </mu-paper>
          </mu-flex>
          <mu-card-title :title="'หมดเวลาจอง: '+expiredTime" sub-title="กรุณาแสกนQR Codeก่อนหมดเวลาในการจอง"></mu-card-title>
        </mu-card>
      </mu-col>
    </mu-row>

    <mu-row v-if="!isReserve" style="padding-top: 1em;">
      <mu-col span="12">
        <mu-card>
          <mu-card-header title="QR Code" sub-title="กรุณาแสกนQR Code|บันทึกภาพQR codeไว้">
            <mu-avatar slot="avatar" color="amber500">
              <mu-icon left value="fullscreen"></mu-icon>
            </mu-avatar>
          </mu-card-header>
          <mu-flex justify-content="center">
            <mu-paper :z-depth="3">
              <mu-card-media>
                <div id="parking"></div>
              </mu-card-media>
            </mu-paper>
          </mu-flex>
          <mu-card-title></mu-card-title>
        </mu-card>
      </mu-col>
    </mu-row>
    <br/>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
<script src="{% static 'js/qrcode.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>

<script type='text/javascript'>
    var slot = {{ park_slot|safe}};
    var park = {{ parking|safe }};
    var car_info = {{car_in|safe}};
    var user_info = {{user_in|safe}};
</script>

<script>
  var csrftoken= Cookies.get('csrftoken');
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#indexpage',
    components: [
        'qr-code'
    ],
    data(){
        return({
            docked: false,
            menuOpen: false,
            isLogin: true,
            isCarSelectorOpen: false,
            openConfirm: false,
            openError: false,
            place:park[0].name,
            availableLots: park[0].available,
            unavailableLots: park[0].capacity-park[0].available,
            userCar: car_info,
            selectedCar: {},
            userPoints: user_info[0].point,
            reserveLimitTime: {min: '15', point: '50'},
            options:[
                {min: '1', point: '50'},
                {min: '15', point: '50'},
                {min: '30', point: '100'},
                {min: '60', point: '200'}
            ],
            openLimitTime: false,
            modal: false,
            loadingwait: true,
        })
    },
    methods: {
      closeCarSelector () {
        this.isCarSelectorOpen = false;
      },
      openCarSelector () {
        this.isCarSelectorOpen = true;
      },
      openLimitTimeDialog (carObj) {
          this.selectedCar = carObj
          this.openLimitTime = true;
      },
      closeLimitTimeDialog () {
          this.selectedCar = {}
          this.openLimitTime = false;
      },
      openConfirmDialog () {
          if(this.userPoints >= parseInt(this.reserveLimitTime.point, 10)){
           this.openConfirm = true;
          } else {
            this.openError = true;
          }
          this.openLimitTime = false;
      },
      closeConfirmDialog () {
          this.reserveLimitTime = {min: '15', point: '50'};
          this.openConfirm = false;
          this.openLimitTime = false;
      },
      CountdownReserve(){

          //create tiken area
          var rand = function() {
            return Math.random().toString(36).substr(2); // remove `0.`
          };

          var token = function() {
            return rand() + rand() + rand() + rand(); // to make it longer
          };

          //timestamp
          var today = new Date();
          var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
          var time = ((JSON.stringify(today.getHours())).length == 2 ? JSON.stringify(today.getHours()) : '0'+JSON.stringify(today.getHours())) + ":"
              + ((JSON.stringify(today.getMinutes())).length == 2 ? JSON.stringify(today.getMinutes()) : '0'+JSON.stringify(today.getMinutes())) + ":"
              + ((JSON.stringify(today.getSeconds())).length == 2 ? JSON.stringify(today.getSeconds()) : '0'+JSON.stringify(today.getSeconds()));
          var dateTime = date+' '+time;
          var dateat = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()

          //Add minute Function
          function addMinutes(date, minutes) {
            var added = new Date(date.getTime() + minutes*60000)
            var addedDate = added.getDate()+'/'+(added.getMonth()+1)+'/'+added.getFullYear();
            var addedTime = ((JSON.stringify(added.getHours())).length == 2 ? JSON.stringify(added.getHours()) : '0'+JSON.stringify(added.getHours())) + ":"
              + ((JSON.stringify(added.getMinutes())).length == 2 ? JSON.stringify(added.getMinutes()) : '0'+JSON.stringify(added.getMinutes())) + ":"
              + ((JSON.stringify(added.getSeconds())).length == 2 ? JSON.stringify(added.getSeconds()) : '0'+JSON.stringify(added.getSeconds()));
            var addedDateTime = addedDate+' '+addedTime;
            return addedDateTime;
          }

          var expireTime = addMinutes(today, parseInt(this.reserveLimitTime.min, 10));

          var reserveInfo = {time: this.reserveLimitTime, car: this.selectedCar, token_auth: token(), timestamp: dateat, expiredTime: expireTime,option: this.reserveLimitTime, type: 'reserve'}

          axios.post('http://127.0.0.1:8000/api_index/',
                    reserveInfo,
                    {headers:{'X-CSRFTOKEN':csrftoken}}
                )
                .then(response => {
                    console.log(1)
                    console.log(response)
                    localStorage.setItem("parking_lot", JSON.stringify(response))
                    setTimeout(function(){ window.location.reload(true);}, 600);
                })
                .catch(error => {
                    console.log(2)
                    console.log(error.response)
                });

          this.selectedCar = {};
          this.openConfirm = false;

          //Reserve Information Here
          localStorage.setItem("token_auth", JSON.stringify(reserveInfo));


          //ReserveState Here
          localStorage.setItem("isReserve", JSON.stringify(true));

      },
      logout() {
          localStorage.setItem("isReserve", JSON.stringify(false));
          window.location = '{% url 'logout' %}';

      }
    },
    computed: {
        token_auth(){
            var result = ""
            if(this.isReserve == true){
                var token_auth = JSON.parse(localStorage.getItem("token_auth"));
                var result = 'http://127.0.0.1:8000/reserve/'+token_auth.token_auth;
            }
            return result;
        },
        expiredTime(){
            var expiredTime = JSON.parse(localStorage.getItem("token_auth")).expiredTime
            return expiredTime;
        },
        isReserve() {

            //getTime
            var today = new Date();
            var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
            var time = ((JSON.stringify(today.getHours())).length == 2 ? JSON.stringify(today.getHours()) : '0'+JSON.stringify(today.getHours())) + ":"
              + ((JSON.stringify(today.getMinutes())).length == 2 ? JSON.stringify(today.getMinutes()) : '0'+JSON.stringify(today.getMinutes())) + ":"
              + ((JSON.stringify(today.getSeconds())).length == 2 ? JSON.stringify(today.getSeconds()) : '0'+JSON.stringify(today.getSeconds()));
            var dateTime = date+' '+time;

            var reserveState = false;
            if((JSON.parse(localStorage.getItem("token_auth"))).type == 'parking'){
                reserveState = false;
            }
            else{
                if(JSON.parse(localStorage.getItem("token_auth")).expiredTime < dateTime){
                    axios.post(
                        'http://127.0.0.1:8000/expired/',
                        {
                            token:JSON.parse(localStorage.getItem("token_auth")).token_auth,
                            p_id:JSON.parse(localStorage.getItem("parking_lot")).data.park_slot[0].id
                        },
                        {
                            headers:{'X-CSRFTOKEN':csrftoken}
                        }
                )
                .then(response => {
                    console.log(1)
                    console.log(response)
                })
                .catch(error => {
                    console.log(2)
                    console.log(error.response)
                });

                    localStorage.setItem("isReserve", JSON.stringify(false));
                    reserveState = false;
                } else {
                    reserveState = true;
                }
            }
            return reserveState;
        },
        slot_id() {
            return (JSON.parse(localStorage.getItem('parking_lot'))).data.park_slot[0].id;
        }
    },
    mounted() {
        var isKey = window.localStorage.key(0);
        console.log(isKey);
        if(isKey === null){
          localStorage.setItem("token_auth", "");
          localStorage.setItem("parking_lot", "");
          localStorage.setItem("isReserve", "false");
          setTimeout(function(){ window.location.reload(true);}, 600);
        } else {
          if(window.localStorage.getItem('isReserve') == "false"){
                          //create token area
                var rand = function() {
                  return Math.random().toString(36).substr(2); // remove `0.`
                };

                var token = function() {
                  return rand() + rand() + rand() + rand(); // to make it longer
                };
                localStorage.setItem("token_auth", JSON.stringify({token_auth: token(), type: 'parking'}));
                localStorage.setItem("parking_lot", "");
            }
        }

        let parking_qr = new QRCode(document.getElementById("parking"), {
          text: 'http://127.0.0.1:8000/parking/'+(JSON.parse((localStorage.getItem("token_auth")))).token_auth,
          width: 300,
          height: 300,
          colorDark : "#000000",
          colorLight : "#ffffff",
        });


    },

  })
</script>

<script>
    let qrcode = new QRCode(document.getElementById("qrcode"), {
        text: app.token_auth,
        width: 300,
        height: 300,
        colorDark : "#000000",
        colorLight : "#ffffff",});

    function loading() {
        setTimeout(function () {
            {#document.getElementById('modal').style.display='none';#}
            app.loadingwait = false;
            setTimeout(function () {
              document.getElementById('modal').style.display='none';
            }, 500);
        }, 1000);
    }

</script>

</body>
</html>