<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="loginpage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer v-if="isLogin" :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button>
        <mu-list-item-title>Profile</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title>Buy Package</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button>
        <mu-list-item-title >Change Password</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title style="color: #f44336;">Logout</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>
  <mu-drawer v-else :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button>
        <mu-list-item-title>Login</mu-list-item-title>
        <mu-icon right value="person"></mu-icon>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title>Register</mu-list-item-title>
        <mu-icon right value="person_add"></mu-icon>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
    <mu-row style="padding-top: 2em;">
      <mu-col span="12">
        <mu-flex justify-content="center">
          <mu-flex justify-content="center" >
            <img width="200" src="{% static 'images/cms-logo-label.png' %}"/>
          </mu-flex>
        </mu-flex>
      </mu-col>
    </mu-row>
    <mu-row style="padding-top: 1em;">
      <mu-col span="12">
        <form method="get">
          <mu-text-field
            :value="username"
            v-model.lazy="username"
            name="username"
            color="amber600"
            icon="account_circle"
            full-width label="ชื่อผู้ใช้"
            placeholder="กรุณาใส่ชื่อผู้ใช้">
          </mu-text-field><br/>
          <mu-text-field
            :value="password"
            v-model.lazy="password"
            :action-icon="passVisibility ? 'visibility_off' : 'visibility'"
            :action-click="() => (passVisibility = !passVisibility)"
            :type="passVisibility ? 'text' : 'password'"
            name="password"
            color="amber600"
            icon="locked"
            full-width label="รหัสผ่าน"
            placeholder="กรุณาใส่รหัสผ่าน">
          </mu-text-field><br/>
          <mu-flex justify-content="center">
            <mu-flex justify-content="center" >
              <mu-button type="submit" large color="amber500">LOGIN<mu-icon right value="chevron_right"></mu-icon>
            </mu-flex>
          </mu-flex>
    </mu-button>
        </form>
      </mu-col>
    </mu-row>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;position: absolute; bottom: 0">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#loginpage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            isLogin: true,
            passVisibility: false,
            username: '',
            password: ''
        })
    }
  })
</script>

</body>
</html>