<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="profilepage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500" z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}" @click="window.location = '{% url 'index' %}'"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'profile' %}'">
        <mu-list-item-title>Profile</mu-list-item-title>
        <mu-icon right value="account_circle"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'buy_package' %}'">
        <mu-list-item-title>Buy Package</mu-list-item-title>
        <mu-icon right value="local_activity"></mu-icon>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item button @click="window.location = '{% url 'change_password' %}'">
        <mu-list-item-title >Change Password</mu-list-item-title>
      </mu-list-item>
      <mu-list-item button>
        <mu-list-item-title style="color: #f44336;">Logout</mu-list-item-title>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="background-color: #ffc107; padding-top: 5em;">
    <mu-row>
      <mu-col>
        <div style="height: 5em;">
          <mu-flex justify-content="center">
          <mu-flex align-items="center">
            <mu-flex justify-content="center" >
              <mu-avatar size="50" color="grey50" text-color="amber500">
                <mu-icon size="45" value="face"></mu-icon>
              </mu-avatar>
              <mu-flex justify-content="center" style="padding-left: 1em;padding-top: 6px;">
              <div style="font-size: 24px;color: #fafafa;">ข้อมูลผู้ใช้งาน</div>
            </mu-flex>
            </mu-flex>
          </mu-flex>
          </mu-flex>
        </div>
      </mu-col>
    </mu-row>
    <mu-row>
      <mu-col span="12">
        <mu-tabs :value.sync="activetabs" color="amber500" indicator-color="grey50" full-width >
          <mu-tab>
            <mu-icon value="person"></mu-icon>Profile
          </mu-tab>
          <mu-tab>
            <mu-icon value="directions_car"></mu-icon>Cars
          </mu-tab>
        </mu-tabs>
      </mu-col>
    </mu-row>
  </mu-container>

  <mu-container>
    <mu-row>
      <mu-col span="12">

{#        profile page#}
        <div v-if="activetabs === 0" style="padding-top: 1em;">
          <mu-container>
            <mu-row>
              <mu-col span="12">
                <mu-card style="width: 100%;margin: 0 auto;">
                  <mu-card-header :title="firstname+' '+lastname" :sub-title="username">
                    <mu-avatar slot="avatar" color="amber500">
                      <mu-icon value="account_circle"></mu-icon>
                    </mu-avatar>
                  </mu-card-header>
                  <mu-divider></mu-divider>
                  <mu-card-text>
                    <mu-list style="margin-top: -1em;">
                      <mu-sub-header inset>Email</mu-sub-header>
                      <mu-list-item avatar>
                        <mu-list-item-action avatar>
                          <mu-avatar>
                            <mu-icon value="mail"></mu-icon>
                          </mu-avatar>
                        </mu-list-item-action>
                        <mu-list-item-content>
                          <mu-list-item-title>[[ email ]]</mu-list-item-title>
                        </mu-list-item-content>
                      </mu-list-item>
                      <mu-sub-header inset>Phone</mu-sub-header>
                      <mu-list-item avatar>
                        <mu-list-item-action avatar>
                          <mu-avatar>
                            <mu-icon value="phone"></mu-icon>
                          </mu-avatar>
                        </mu-list-item-action>
                        <mu-list-item-content>
                          <mu-list-item-title>[[ phone ]]</mu-list-item-title>
                        </mu-list-item-content>
                      </mu-list-item>
                    </mu-list>
                  </mu-card-text>
                </mu-card>
              </mu-col>
            </mu-row>
          </mu-container>

          <mu-container>
            <mu-row style="padding-top: 1em;">
              <mu-col span="12">
                <mu-button color="amber500" large full-width @click="window.location = '{% url 'edit_profile' %}'">
                  แก้ไขข้อมูลผู้ใช้
                  <mu-icon right value="edit"></mu-icon>
                </mu-button>
              </mu-col>
            </mu-row>
          </mu-container>
        </div>

{#        cars page#}
        <div v-if="activetabs === 1" style="padding-top: 1em;">
          <mu-container>
            <mu-row>
              <mu-col span="12">
              <div v-for="car in userCar">
                <mu-expansion-panel>
                  <div slot="header">
                    <mu-flex align-items="center">
                      <mu-flex justify-content="center" fill><mu-avatar color="amber500" size="30"><mu-icon value="directions_car"></mu-icon></mu-avatar></mu-flex>
                    <mu-flex style="padding-left: 1em;" justify-content="center" fill>[[ car.car_brand ]]</mu-flex>
                    </mu-flex>
                  </div>
                  <div>
                    <mu-flex justify-content="start">
                      <mu-flex justify-content="center">หมายเลขทะเบียน</mu-flex>
                    </mu-flex>
                  </div>
                  <div style="font-size: 2em;">
                    <mu-flex justify-content="start">
                      <mu-flex justify-content="center">[[ car.car_license_number ]]</mu-flex>
                    </mu-flex>
                  </div>
                  <div>
                    <mu-flex justify-content="start">
                      <mu-flex justify-content="center">รุ่น</mu-flex>
                    </mu-flex>
                  </div>
                  <div style="font-size: 1.5em;">
                    <mu-flex justify-content="start">
                      <mu-flex justify-content="center">[[ car.car_model ]]</mu-flex>
                    </mu-flex>
                  </div>
                  <div>
                    <mu-flex justify-content="start">
                      <mu-flex justify-content="center">สี</mu-flex>
                    </mu-flex>
                  </div>
                  <div style="font-size: 1.5em;">
                    <mu-flex justify-content="start">
                      <mu-flex justify-content="center">[[ car.car_color ]]</mu-flex>
                    </mu-flex>
                  </div>
                </mu-expansion-panel>
              </div>
              </mu-col>
            </mu-row>
          </mu-container>
          <mu-container>
            <mu-row style="padding-top: 1em;">
              <mu-col span="12">
                <mu-button color="amber500" large full-width @click="window.location = '{% url 'add_car' %}'">
                  เพิ่มรถยนต์
                  <mu-icon right value="add"></mu-icon>
                </mu-button>
              </mu-col>
            </mu-row>
          </mu-container>
        </div>
      </mu-col>
    </mu-row><br/>
  </mu-container>
  <h1>[[user_info]]</h1>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;bottom: 0;">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
<script type='text/javascript'>
    var user_info = {{user_in|safe}};
    var car_info = {{car_in|safe}};
  </script>
<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#profilepage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            activetabs: 0,
            firstname: user_info[0].user_fname,
            lastname: user_info[0].user_lname,
            username: user_info[0].username,
            email: user_info[0].email,
            phone: user_info[0].phone_number,
            userCar: car_info
        })
    }
  })
</script>

</body>
</html>