<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>สมัครสมาชิก</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <style>
  body {
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>

<div id="registerpage">
  <header>
    <mu-appbar style="width: 100%;position: fixed;" color="amber500"  z-depth="0">
      <mu-flex justify-content="start">
        <mu-flex justify-content="center" >
          <img width="100" slot="default" src="{% static 'images/cms-logo.png' %}" @click="window.location = '{% url 'index' %}'"/>
        </mu-flex>
      </mu-flex>
      <mu-button icon slot="right" @click="menuOpen = !menuOpen"><mu-icon value="menu"></mu-icon></mu-button>
    </mu-appbar>
  </header>
  {#sidebar#}
  <mu-drawer :open.sync="menuOpen" :docked="docked" :right="false">
    <mu-list>
      <mu-list-item button @click="window.location = '{% url 'index' %}'">
        <mu-list-item-title>หน้าแรก</mu-list-item-title>
        <mu-icon right value="home"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'my_login' %}'">
        <mu-list-item-title>เข้าสู่ระบบ</mu-list-item-title>
        <mu-icon right value="person"></mu-icon>
      </mu-list-item>
      <mu-list-item button @click="window.location = '{% url 'register' %}'">
        <mu-list-item-title>สมัครสมาชิก</mu-list-item-title>
        <mu-icon right value="person_add"></mu-icon>
      </mu-list-item>
    </mu-list>
  </mu-drawer>

  {#MainContent#}
  <mu-container fluid="true" style="padding-top: 5em;">
  {% if form_user.non_field_errors %}
    <p>{{form_user.non_field_errors}}</p>
  {% endif %}
    <mu-row style="padding-top: 1em;">
      <mu-col span="12">
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
          <mu-flex justify-content="center">
            <mu-flex justify-content="center" ><mu-icon value="person"></mu-icon>ข้อมูลส่วนตัวผู้ใช้</mu-flex>
          </mu-flex>

          {% if form_user.firstname.errors %}
          <mu-text-field
            label-float
            name="{{form_user.firstname.label}}"
            v-model.lazy="firstname"
            color="amber600"
            error-text="กรุณาใส่ชื่อจริง"
            full-width label="ชื่อจริง">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.firstname.errors %}
          <mu-text-field
            label-float
            name="{{form_user.firstname.label}}"
            v-model.lazy="firstname"
            color="amber600"
            full-width label="ชื่อจริง">
          </mu-text-field><br/>
          {% endif %}


          {% if form_user.lastname.errors %}
          <mu-text-field
            label-float
            name="{{form_user.lastname.label}}"
            v-model.lazy="lastname"
            color="amber600"
            error-text="กรุณาใส่นามสกุล"
            full-width label="นามสกุล">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.lastname.errors %}
          <mu-text-field
            label-float
            name="{{form_user.lastname.label}}"
            v-model.lazy="lastname"
            color="amber600"
            full-width label="นามสกุล">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.email.errors %}
          <mu-text-field
            label-float
            name="{{form_user.email.label}}"
            v-model.lazy="email"
            color="amber600"
            error-text="กรุณาใส่อีเมลล์ให้ถูกต้อง"
            full-width label="อีเมลล์">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.email.errors %}
          <mu-text-field
            label-float
            name="{{form_user.email.label}}"
            v-model.lazy="email"
            color="amber600"
            full-width label="อีเมลล์">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.phone.errors %}
          <mu-text-field
            label-float
            name="phone"
            v-model.lazy="{{form_user.phone.label}}"
            color="amber600"
            full-width label="เบอร์โทรศัพท์"
            error-text="กรุณาใส่เบอร์โทรศัพท์ให้ถูกต้อง"
            type="text">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.phone.errors %}
          <mu-text-field
            label-float
            name="phone"
            v-model.lazy="{{form_user.phone.label}}"
            color="amber600"
            full-width label="เบอร์โทรศัพท์"
            type="text">
          </mu-text-field><br/>
          {% endif %}

          <mu-flex justify-content="center">
            <mu-flex justify-content="center" ><mu-icon value="directions_car"></mu-icon>ข้อมูลรถยนต์ผู้ใช้</mu-flex>
          </mu-flex>

          {% if form_user.carid.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carid.label}}"
            v-model.lazy="carid"
            color="amber600"
            error-text="กรุณาใส่ทะเบียนให้ถูกต้อง"
            full-width label="ทะเบียน">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.carid.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carid.label}}"
            v-model.lazy="carid"
            color="amber600"
            full-width label="ทะเบียน">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.carbrand.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carbrand.label}}"
            v-model.lazy="carbrand"
            color="amber600"
            error-text="กรุณาใส่ยี่ห้อให้ถูกต้อง"
            full-width label="ยี่ห้อ">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.carbrand.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carbrand.label}}"
            v-model.lazy="carbrand"
            color="amber600"
            full-width label="ยี่ห้อ">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.carmodel.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carmodel.label}}"
            v-model.lazy="carmodel"
            color="amber600"
            error-text="กรุณาใส่รุ่นให้ถูกต้อง"
            full-width label="รุ่น">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.carmodel.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carmodel.label}}"
            v-model.lazy="carmodel"
            color="amber600"
            full-width label="รุ่น">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.carcolor.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carcolor.label}}"
            v-model.lazy="carcolor"
            color="amber600"
            error-text="กรุณาใส่สีให้ถูกต้อง"
            full-width label="สี">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.carcolor.errors %}
          <mu-text-field
            label-float
            name="{{form_user.carcolor.label}}"
            v-model.lazy="carcolor"
            color="amber600"
            full-width label="สี">
          </mu-text-field><br/>
          {% endif %}


          <mu-flex justify-content="center">
            <mu-flex justify-content="center" ><mu-icon value="visibility"></mu-icon>ชื่อผู้ใช้และรหัสผ่าน</mu-flex>
          </mu-flex>

          {% if form_user.username.errors %}
          <mu-text-field
            label-float
            v-model.lazy="{{form_user.username.label}}"
            name="username"
            color="amber600"
            error-text="กรุณาใส่ชื่อผู้ใช้ให้ถูกต้อง"
            full-width label="ชื่อผู้ใช้">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.username.errors %}
          <mu-text-field
            label-float
            v-model.lazy="{{form_user.username.label}}"
            name="username"
            color="amber600"
            full-width label="ชื่อผู้ใช้">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.password1.errors %}
          <mu-text-field
            label-float
            v-model.lazy="{{form_user.password1.label}}"
            name="password1"
            color="amber600"
            type="password"
            error-text="กรุณาใส่รหัสผ่านให้ถูกต้อง"
            full-width label="รหัสผ่าน">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.password1.errors %}
          <mu-text-field
            label-float
            v-model.lazy="{{form_user.password1.label}}"
            name="password1"
            color="amber600"
            type="password"
            full-width label="รหัสผ่าน">
          </mu-text-field><br/>
          {% endif %}

          {% if form_user.password2.errors %}
          <mu-text-field
            label-float
            v-model.lazy="password2"
            name="{{form_user.password2.label}}"
            color="amber600"
            type="password"
            error-text="กรุณาใส่รหัสผ่านให้ถูกต้อง"
            full-width label="ยืนยันรหัสผ่าน">
          </mu-text-field><br/>
          {% endif %}
          {% if not form_user.password2.errors %}
          <mu-text-field
            label-float
            v-model.lazy="password2"
            name="{{form_user.password2.label}}"
            color="amber600"
            type="password"
            full-width label="ยืนยันรหัสผ่าน">
          </mu-text-field><br/>
          {% endif %}
{#          <mu-flex >#}
{#            <mu-checkbox color="amber600" v-model="confirmRegister" label="ข้าพเจ้ายอมรับข้อตกลงและเงื่อนไขการงานของเว็บแอพลิเคชั่นนี้"></mu-checkbox>#}
{#          </mu-flex>#}
          <mu-flex justify-content="center">
            <mu-flex justify-content="center" style="padding-top: 1em;" >
              <mu-button type="submit" large color="amber500">สมัครสมาชิก<mu-icon right value="chevron_right"></mu-icon></mu-button>
            </mu-flex>
          </mu-flex>
        </form>
      </mu-col>
    </mu-row><br/>
  </mu-container>

{#  footer area#}
{#  <footer style="width: 100%;height: 5em;background-color: #ffc107;margin-top: 1em;">#}
{#    <mu-container style="padding-top: 24px;">#}
{#      <mu-row>#}
{#        <mu-col span="8">#}
{#          <mu-flex justify-content="start">#}
{#            <mu-flex justify-content="center" >© 2019 Carparking Management System.</mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#        <mu-col span="4">#}
{#          <mu-flex justify-content="end">#}
{#            <mu-flex justify-content="center" >#}
{#              <img width="50" src="{% static 'images/cms-logo.png' %}"/>#}
{#            </mu-flex>#}
{#          </mu-flex>#}
{#        </mu-col>#}
{#      </mu-row>#}
{#    </mu-container>#}
{#  </footer>#}
</div>

{#script area#}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#registerpage',
    data(){
        return({
            docked: false,
            menuOpen: false,
            firstname: '',
            lastname: '',
            email: '',
            phone: '',
            carid: '',
            carbrand: '',
            carmodel: '',
            carcolor: '',
            username: '',
            password1: '',
            password2: '',
            confirmRegister: false,
            passVisibility: false,
        })
    }
  })
</script>

</body>
</html>